@import url("https://fonts.googleapis.com/css2?family=Cairo+Play:wght@200..1000&family=Cairo:wght@200..1000&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cairo', sans-serif;
}

body {
  font-family: 'Roboto', sans-serif;
}

.conatiner_body{
  color: #213242;
  background-color: #f0f2f5;
  padding: 50px;
  height: calc(100vh - 6vh);
  overflow-x: auto;
  overflow-y: auto;
}

.icon {
  background-color: #f0f2f5;
  border-radius: 22px;
  padding: 10px;
  font-size: 24px;
  color: #213242;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.default-button {
  background-color:#02e079;
  color: #ffffff;
  border: none;
  height: 50px;
}

.container_child::-webkit-scrollbar{
  height: 0;
  width: 0;
}

.container_child{
  padding: 20px;
  height: 85vh;
  overflow-y: auto;
  overflow-x: auto;
}

.div_login{
  width: 100vw;
  height: 100vh;
  background-color: rgb(1 50 67);
  background-size: cover;
  background-position: center; 
}

.div_child_add{
  display:flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
  background-color: #f0f2f5;
}

.customButton{
  margin-top: 10px;
  height: 40px;
  border-radius: 12px;
}

.card_button{
  background-color:  rgb(1 50 67);
  margin-top: 10px;
  align-items: center;
}

.title{
  display: flex;
  justify-content: space-between;
}